@import "tailwindcss";
@import "@xterm/xterm/css/xterm.css";

@theme inline {
  --color-primary: #ffffff;
  --color-secondary: #a1a1aa;
  --color-background-light: #f4f7f6;
  --color-background-dark: #0a0a0a;
  --color-panel-light: #f4f4f5;
  --color-panel-dark: #18181b;
  --color-border-light: #e4e4e7;
  --color-border-dark: #27272a;
  --font-display: var(--font-jetbrains-mono);
  --font-sans: var(--font-space-grotesk);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.dark .scanlines {
  position: relative;
}

.dark .scanlines::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.02));
  z-index: 50;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  opacity: 0.1;
}

.xterm-viewport {
  overscroll-behavior: contain;
}